@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply flex flex-col items-center;
}

#root {
    @apply w-full max-w-screen-2xl;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    @apply p-4 outline-none border border-gray-300 my-1;
}

.modal {
    position: fixed;
    inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    padding: 40px 20px 20px;
    opacity: 0;
    pointer-events: none;
}

.modal-enter-done {
    opacity: 1;
    pointer-events: auto;
}
.modal-content {
    transition: all 0.3s ease-in-out;
    transform: scale(0.4);
}

.modal-enter-done .modal-content {
    transform: scale(1);
}
.modal-exit {
    opacity: 0;
}
.modal-exit .modal-content {
    transform: scale(0.4);
}
.modal-content {
    width: 70%;
    height: 70%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
